# Python
__pycache__/
*.pyc
.venv/
venv/

# Streamlit
.streamlit/secrets.toml

# Env
.env
.env.*

# DB / data
*.db
*.sqlite
*.sqlite3
data/
logs/

# JetBrains / PyCharm
.idea/
!.idea/inspectionProfiles/
!.idea/inspectionProfiles/profiles_settings.xml
